<% include ../partials/header %>

<div id="login">

  <div class="modal-body">

    <% if(typeof alerts !== 'undefined'){ %>
    <% for(key in alerts){ %>
    <% alerts[key].forEach(function(thisMsg){ %>
    <div class="alert alert-<%= key %>"><%= thisMsg %></div>
    <% }); %>
    <% } %>
    <% } %>

    <form class="form" method="post" action="/auth/login">
      <input type="text" class="form-control" placeholder="E-mail" name="email">
      <input type="password" class="form-control" placeholder="Password" name="password">
    </div>
      <button type="submit" class="btn btn-primary loginBtn">Log In</button>
    </form>
  </div>
</div>

<% include ../partials/footer %>
