<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse text-center" id="footer">
  <div class="container">
    <div class="footer">&copy; 2015 Daniel P. Smith. All rights reserved.

      <a href="#aboutModal" role="button" class="btn btn-primary btn-show header-buttons" id="aboutBtn" data-toggle="modal">About Semitone</a>

    </div>
  </div>
</nav>

<div id="aboutModal" class="modal fade">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>About Semitone</h4>
      </div>
      <div class="modal-body">

      <p>Semitone was designed to be simple, giving the spotlight to the music.</p>

      <p>Search for a specific song, beginning with the artist, and the first and most popular result will show up, with the chords and music video for that respective song. You can then transpose the chords (with options for alternative enharmonic chord spellings), save the song to your favorites (once you've signed up), and share the song with friends through Facebook.</p>

      <p>This app is targeted towards vocalists, singer-songwriters, collaborative musicians, teachers, and anyone else who needs a specific song in a more suiting key.</p>

      <p>This app was built by <a target="_blank" href="http://www.danielpsmith.com">Daniel Smith</a>, and he'd love to collaborate on your next project!</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </form>
    </div>
  </div>
</div>




</body>
</html>