<% include partials/header %>


<div id="logo">

  <div id="logoPic">
    <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
  </div>

  <div id="slogan">
    <h3 id="sloganText">Transpose<br>
      Save<br>
      Share</h3>
  </div>

</div>

<!-- http://andreaslagerkvist.com/projects/live-ajax-search/ -->


  <% include partials/footer %>