<% include partials/header %>


<% if(typeof alerts !== 'undefined'){ %>
<% for(key in alerts){ %>
<% alerts[key].forEach(function(thisMsg){ %>

<div class="alert alert-info text-center fade in" id="main-alert" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

  <% if (thisMsg === 'Logged in.') { %>
    <%= thisMsg %> Welcome, <%= getUser.name %>.
  <% } else { %>
  <%= thisMsg %>
  <% } %>
</div>

<% }); %>
<% } %>
<% } %>




<div id="logo">

  <div id="logoPic">
    <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
  </div>

  <div id="slogan">
    <h3 id="sloganText">Transpose<br>
      Save<br>
      Share</h3>
    </div>

  </div>



  <% include partials/footer %>