<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<% include ../partials/header %>



<div class="right">
  <div class="song-info">
    <h2>
      <%- faves.song %>
    </h2>

    <div class="fb-share-button" id="FB" data-href="https://semitone.herokuapp.com/favorites/<%= faves.id %>" data-layout="button">
    </div>
  </div>

  <div class="youtube">

    <iframe src=<%= "https://www.youtube.com/embed/" + faves.youtube %> frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div class="left">
  <pre data-key="Ab">
    <%- faves.chords %>
  </pre>
  <script type="text/javascript">
    $(function() {
      $("pre").transpose({ key : 'Ab' });
    });
  </script>
</div>