body {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: url("./piano.jpg");
  background-size: cover;
  background-attachment: fixed;
}

#nav {
  border-radius: 0;
  background-color: rgba(42,42,42,.8);
  height: 75px;
  margin: 0;
}

.navbar-brand {
  font-family: 'Dosis', sans-serif;
  font-size: 4.8em;
  font-weight: 600;
  color: #ffffff;
  border-radius: 0;
  padding: 20px 20px 20px 31px;
  margin-top: 5px;
  letter-spacing: .05em;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.header-buttons {
  padding: 12px;
  margin: 17px 12px 12px 0;
}

#searchBox {
  width: 360px;
  text-align: center;
  height: 46px;
  margin-top: 9px;
}

.search-button {
  width: 71px;
  height: 46px;
  padding: 12px;
  margin-top: 9px;
  margin-left: 12px;
}

/*MAIN PAGE*/

#logo {
  width: 500px;
  height: 300px;
  margin: 120px auto 0;
  text-align: center;
  padding: 45px 0;
  border-radius: 20px;
  background: rgba(20,20,20,.75);
  vertical-align: middle;
  font-family: 'Dosis', sans-serif;
}

#slogan {
  display: inline-block;
  vertical-align: middle;
}

#sloganText {
  text-align: left;
  font-size: 3.5em;
  line-height: 1.2em;
  margin: -35px 0 0 0;
  color: #ffffff;
}

#logoPic {
  width: 180px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  font-size: 12em;
  color: #ffffff;
}

#main-alert {
  width: 300px;
  margin: 0px 145px 0 0;
  top: 100px;
  padding-left: 13.5px;
  float: right;
}


/*CHORDS*/

.left {
  background-color: rgba(221,221,221,1);
  width: 50vw;
  height: 88.7vh;
  display: inline-block;
  margin: 0;
  padding: 25px 0 25px 25px;
  border-right: 2px solid black;
  float: left;
  font-family: monospace;
  overflow: auto;
  white-space: pre;
}

.right {
  background-color: rgba(51,51,51,1);
  width: 50vw;
  height: 88.7vh;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.song-info {
  color: #ffffff;
  padding: 25px 31px 25px 0px;
  text-align: right;
}

.song-info h2 {
  font-family: 'Dosis', sans-serif;
  margin: 8px 0 0 0;
  margin-right: 0;
}
.song-info button {
  color: white;
}

.favBtn {
  margin-top: -5px;
}

.youtube {
  position: fixed;
  bottom: 0;
}

iframe {
  width: 50vw;
  height: 30.4vw;
}


/*FAVORITES*/

.favEntry {
  margin-bottom: 10px;
}

div.alert.btn-primary {
  padding: 10px;
  height: 45px;
}

.details {
  margin: 0px;
  padding: 0;
  float: left;
  display: inline;
}

#FB {
  background-color: #337ab7;
  margin-top: 10px;
  border-radius: 4px;
}

/*LOGIN*/

.alert {
  padding: 3px;
  margin: 3px 0 3px 0;
}


#login {
  width: 500px;
  height: 300px;
  margin: 120px auto 0;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  background: rgba(20,20,20,.75);
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}

#login input {
  margin-top: 5px;
}

.loginBtn {
  float: right;
  margin-right: 15px;
}


/*SIGNUP*/

#signup {
  width: 500px;
  height: 300px;
  margin: 120px auto 0;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  background: rgba(20,20,20,.75);
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}

#signup input {
  margin-top: 5px;
}

.signupBtn {
  float: right;
  margin-right: 15px;
}


/*FOOTER*/

#footer {
  background-color: rgba(42,42,42,.8);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #ffffff;
  padding: 15px;
}

#aboutBtn {
  font-family: 'Open Sans', sans-serif;
  margin: 0px 0px 0 10px;
  padding: 5px 10px;
  height: 35px;
  display: inline;
}

#aboutModal {
  line-height: 1.4;
}


/*404*/

#error {
  width: 500px;
  height: 300px;
  margin: 120px auto 0;
  text-align: center;
  padding: 100px 0;
  border-radius: 20px;
  background: rgba(20,20,20,.75);
  vertical-align: middle;
  font-family: 'Dosis', sans-serif;
}

#errorMessage {
  color: #ffffff;
}
